---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"
import MiniCard from "../components/MiniCard.astro"
---

<BaseLayout title="About Me">
    <main>
        <div class="cardContainer">
            <Card title="Title" price="123" time="per month" button="Free Trial" feature="Lorem ipsum dolor." feature2="Lorem ipsum dolor sit amet." feature3="Lorem ipsum dolor."/>
            <Card title="Title 2" price="321" time="every two months" button="2 Month Trial" feature="Lorem ipsum dolor." feature2="Lorem ipsum dolor sit amet." feature3="Lorem ipsum dolor."/> 
        </div>

        <div>
            <h1 class="title">Titulo</h1>
            <div class="miniCardContainer">
                <MiniCard bootstrapIcon="bi bi-heart" title="Happy Clients" number="495"/>
                <MiniCard bootstrapIcon="bi bi-star" title="Working Hours" number="1111"/>
                <MiniCard bootstrapIcon="bi bi-clock"  title="Awards" number="23"/>
            </div>
        </div>
    </main>

    <style>
        main {
            display: grid;
            grid-template-rows: 60% 30%;
            margin-left: 3rem;
        }

        .cardContainer {
            display: flex;
            flex-direction: row;
        }

        .miniCardContainer {
            display: flex;
            flex-direction: row;
        }

        .title {
            font-size: 1.6rem;
            margin: 0px 0px 0px 20px;
        }

    </style>
</BaseLayout>