---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
	<main>
		<div class="mainInfoContainer">
			<h1 class="name">name surname</h1>
			
			<div class="carousel">
				<div class="carousel-container">
				  <div class="slide"><h2 class="role">programming role</h2></div>
				  <div class="slide"><h2 class="role">another programming role</h2></div>
				  <div class="slide"><h2 class="role">third programming role</h2></div>
				</div>
			  </div>
		</div>
	</main>

	<style>

	.mainInfoContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}
	.name {
		font-size: 4rem;
	}

	.carousel {
		width: 300px;
		overflow: hidden;
	}

	.carousel-container {
		display: flex;
		transition: transform 0.5s ease;
	}

	.slide {
		flex: 0 0 100%;
		text-align: center;
	}

	.role {
        font-weight: 100;
        color: rgb(196, 195, 195);
    }

	main {
		display: grid;
		place-items: center;
	}

	</style>
</BaseLayout>