---
import BaseLayout from "../layouts/BaseLayout.astro";
import Slide from "../components/Slide.astro";
import TestimonialContainer from "../components/TestimonialContainer.astro";
---

<BaseLayout title="Portfolio">
    <section>
        <div class="title">
            <h1>Testimonials</h1>
        </div>

        <TestimonialContainer/>

        <div class="title clients">
            <h1>Clients</h1>
        </div>
        <div class="slider">
            <div class="slide-track">
                <Slide img="../riba1.png"/>
                <Slide img="../riba2.png"/>
                <Slide img="../riba3.png"/>
                <Slide img="../riba4.png"/>
                <Slide img="../riba5.png"/>
                <Slide img="../RibNugget.png"/>
                <Slide img="../franurib.png"/>
                <Slide img="../riba1.png"/>
            </div>
        </div>
    </section>

    <style>
        section {
            margin-top: 3rem;
        }

        .title {
            padding: 1rem;
        }

        .clients {
            margin-top: 3rem;
        }

        .btn {
            min-width: 80px;    
        }

        .btn:hover{
            color: #fff;
            background-color: #616467;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-250px * 7));
            }
        }

        .slider {
            margin: auto;
            overflow: hidden;
            position: relative;
            width: 1200px;
        }
        .slider::before, .slider::after {
            background: linear-gradient(to right, #23232a, rgba(255, 255, 255, 0) 100%);
            content: "";
            height: 200px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        .slider::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
        .slider::before {
            left: 0;
            top: 0;
        }
        .slider .slide-track {
            animation: scroll 60s linear infinite;
            display: flex;
            gap: 3rem;
            width: calc(250px * 14);
        }
        .slider .slide {
            height: 100px;
            width: 250px;
        }
    </style>
</BaseLayout>