---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineLayout from "../layouts/TimelineLayout.astro";
import TimelineContainer from "../components/TimelineContainer.astro";
import ProgressBarContainer from "../components/ProgressBarContainer.astro";
import TagContainer from "../components/TagContainer.astro";
---

<BaseLayout>
  
    <section>
        <div>
            <h1 class="title">Resume</h1>
            <h1 class="subtitle">Education</h1>
            <TimelineLayout>
                <div class="timelineContainer">
                    <TimelineContainer/>
                    <TimelineContainer/>
                    <TimelineContainer/>
                    <TimelineContainer/>
                </div>
            </TimelineLayout>
        </div>
        <div class="progressBarsContainer">
            <ProgressBarContainer/>
            <ProgressBarContainer/>
            <TagContainer/>
        </div>
    </section>

    <style>

        section {
            display: grid;
            grid-template-columns: 50% 50%;
            /* grid-template-rows: 0.3fr 0.1fr auto; */
        }

        .title {
            font-size: 2rem;
            padding: 2rem;
        }

        .subtitle {
            padding-left: 2rem;
        }

        .timelineContainer {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
        }
        
        .progressBarsContainer {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 2rem;
        }
    </style>

</BaseLayout>