---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineLayout from "../layouts/TimelineLayout.astro";
import TimelineContainer from "../components/TimelineContainer.astro";
import ProgressBarContainer from "../components/ProgressBarContainer.astro";
import ProgressBarContainerTwo from "../components/ProgressBarContainerTwo.astro";
import TagContainer from "../components/TagContainer.astro";
---

<BaseLayout title="Resume">
    <section>
        <div>
            <h1 class="title">Resume</h1>
            <h1 class="subtitle">Education</h1>
            <TimelineLayout>
                <div class="timelineContainer">
                    <TimelineContainer date="2001" studies="University of something" title="Title 1" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo praesentium dolorum vitae recusandae commodi cumque suscipit dolor aliquid."/>
                    <TimelineContainer date="2002" studies="School of something" title="Title 2" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo praesentium dolorum vitae recusandae commodi cumque suscipit dolor aliquid."/>
                    <TimelineContainer date="2003" studies="College of something" title="Title 3" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo praesentium dolorum vitae recusandae commodi cumque suscipit dolor aliquid."/>
                    <TimelineContainer date="2004" studies="University of stuff" title="Title 4" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo praesentium dolorum vitae recusandae commodi cumque suscipit dolor aliquid."/>
                </div>
            </TimelineLayout>
        </div>
        <div class="progressBarsContainer">
            <ProgressBarContainer title="Skills at something"/>
            <ProgressBarContainerTwo title="Skills at something 2"/>
            <TagContainer/>
        </div>
    </section>

    <style>
        section {
            display: grid;
            grid-template-columns: 50% 50%;
            /* grid-template-rows: 0.3fr 0.1fr auto; */
        }

        .title {
            font-size: 2rem;
            padding: 2rem;
        }

        .subtitle {
            padding-left: 2rem;
        }

        .timelineContainer {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
        }
        
        .progressBarsContainer {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 2rem;
        }
    </style>
</BaseLayout>