---
---

<div class="barInfoContainer">
    <h3>Skill #1</h3>
    <h4 class="percentage">50%</h4>
</div>

<style>
    .barInfoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .percentage {
        color: rgb(196, 195, 195);
        font-weight: 100;
        font-size: 0.9rem;
    }

</style>