---
const { skill, percentage } = Astro.props;
---

<div class="barInfoContainer">
    <h3 class="skill">{skill}</h3>
    <h4 class="percentage">{percentage}</h4>
</div>

<style>
    .barInfoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skill {
        color: var(--color-title);
    }

    .percentage {
        color: var(--color-text);
        font-weight: 100;
        font-size: 0.9rem;
    }

</style>