<div class="card">

    <div class="title">Titulo</div>
  
    <div class="icon">
      <svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M468.493,101.637L371.955,5.098H159.57v77.231H43.724v424.769h308.923v-77.231h115.846V101.637z   M371.955,32.401l69.236,69.235h-69.236V32.401z M63.031,487.79V101.637h173.769v96.538h96.538V487.79H63.031z M256.108,109.632  l69.236,69.235h-69.236V109.632z M352.647,410.56V178.867l-96.538-96.538h-77.231V24.406h173.769v96.538h96.538V410.56H352.647z" fill="#37404D"/></svg>
    </div><!--/icon-->
  
    <div class="features">
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
    </div><!--/features-->
  
    <a href="#" class="btn">Button</a>
  
</div><!--/card-->

<style>

.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
  
  .title {
    font-size: 25px;
  }

  .icon {
    margin: 50px 0;
    svg {
      width: 100px;
      height: 100px;
      path {
        fill: #F6B352;
      }
    }
  }
  .features {
    ul {
      padding: 0;
      margin: 20px 0 50px 0;
      list-style-type: none;
      li {
        margin: 10px 0;
        font-size: 14px;
      }
    }
  }
  .btn {
    display: block;
    background: #F6B352;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
      background: #F68657;
    }
  }
}


</style>