---
const { bootstrapIcon, title, number} = Astro.props;
---

<div class="card">
    <p class="icon"><i class=`${bootstrapIcon}`></i></p>
    <h2 class="title">{title}</h2>
    <p class="numbers">{number}</p>
</div>

<style>

  .card {
    gap: 1.2rem;
    margin: 20px 20px 20px 20px;
    width: calc(25%);
    padding: 30px;
  }

  .icon {
    color: #0EB1D2;
    font-size: 2rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .numbers {
    font-size: 2rem;
    color: rgb(196, 195, 195);
    letter-spacing: 1px;
  }

</style>