---
const { bootstrapIcon, title, number, awards} = Astro.props;
---

<div class="card">
    <p class="icon"><i class=`${bootstrapIcon}`></i></p>
    <h2 class="title">{title}</h2>
    <p class=`numbers ${awards}`>{number}</p>
</div>

<style>

  .card {
    gap: 1.2rem;
    margin: 20px 20px 20px 20px;
    width: calc(25%);
    padding: 30px;
  }

  .icon {
    color: var(--color-decoration);
    font-size: 2rem;
  }

  .title {
    font-size: 1.2rem;
    color: var(--color-title);
  }

  .numbers {
    font-size: 2rem;
    color: var(--color-text);
    letter-spacing: 1px;
  }

  @media (max-width: 1200px) {
    .card {
      height: 150px;
    }

    .awards {
      margin-top: 1rem;
    }
  }

  @media (max-width: 991px) {
    .card {
      height: 150px;
    }

    .awards {
      margin-top: 1rem;
    }
  }

  @media (max-width: 767px) {

  }

  @media (max-width: 576px) {

  }

</style>