---
---

<div class="card">
    <p class="icon"><i class="bi bi-heart"></i></p>
    <h2 class="secondTitle">Happy Clients</h2>
    <p class="numbers">578</p>
</div>

<style>

  .title {
      font-size: 1.6rem;
      margin: 0px 0px 0px 20px;
  }
    
  .card {
    gap: 1.2rem;
    margin: 20px 20px 20px 20px;
    width: calc(25%);
    padding: 30px;
  }

  .icon {
    color: #0EB1D2;
    font-size: 2rem;
  }

  .secondTitle {
    font-size: 1.2rem;
  }

  .numbers {
    font-size: 2rem;
    color: rgb(196, 195, 195);
    letter-spacing: 1px;
  }

</style>