---
import ProgressBar from "./ProgressBar.astro";
import BarInfoContainer from "./BarInfoContainer.astro";
const { title } = Astro.props;
---

<div class="progressBarContainer">
    <h1 class="title">{title}</h1>
    <div>
        <BarInfoContainer skill="Skill #1" percentage="35%"/>
        <ProgressBar width="width: 35%"/>
    </div>
    <div>
        <BarInfoContainer skill="Skill #2" percentage="86%"/>
        <ProgressBar width="width: 86%"/>
    </div>
    <div>
        <BarInfoContainer skill="Skill #3" percentage="20%"/>
        <ProgressBar width="width: 20%"/>
    </div>
    <div>
        <BarInfoContainer skill="Skill #4" percentage="58%"/>
        <ProgressBar width="width: 58%"/>
    </div>
</div>

<style>

    .progressBarContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        margin-bottom: 0.5rem;
    }

</style>