---
const { img, first } = Astro.props;
---

<div class=`slide ${first}`>
    <img class="avatar" src=`${img}` alt="brand logo">
</div>

<style>
    .avatar {
        border-radius: 50%;
    }

    .first {
        margin-left: 10rem;
    }

    img {
        width: 250px;
    }

    @media (max-width: 576px) {

    }

    @media (max-width: 767px) {

    }

    @media (max-width: 991px) {

    }

    @media (max-width: 1200px) {
        img {
            width: 200px;
        }
    }
</style>