---
const { knowledge } = Astro.props;
---

<div>
    <p>{knowledge}</p>
</div>

<style>
    p {
        color: var(--color-title);
        padding: 0.7rem;
        background-color: var(--color-decoration);
        border-radius: 0.5rem;
    }
</style>