---
import Tag from "./Tag.astro";
---

<div>
    <h1>Knowledges</h1>
    <div class="tagContainer">
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
        <Tag/>
    </div>
</div>

<style>
    .tagContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    h1 {
        margin-bottom: 1.5rem;
    }
</style>