---
import Tag from "./Tag.astro";
---

<div>
    <h1 class="title">Knowledges</h1>
    <div class="tagContainer">
        <Tag knowledge="Knowledge 1"/>
        <Tag knowledge="Knowledge 2"/>
        <Tag knowledge="Knowledge 3"/>
        <Tag knowledge="Knowledge 4"/>
        <Tag knowledge="Knowledge 5"/>
        <Tag knowledge="Knowledge 6"/>
        <Tag knowledge="Knowledge 7"/>
        <Tag knowledge="Knowledge 8"/>
        <Tag knowledge="Knowledge 9"/>
        <Tag knowledge="Knowledge 10"/>
        <Tag knowledge="Knowledge 11"/>
        <Tag knowledge="Knowledge 12"/>
        <Tag knowledge="Knowledge 13"/>
    </div>
</div>

<style>
    .tagContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .title {
        margin-bottom: 1.5rem;
        color: var(--color-title);
    }
</style>