---
---

<div class="card">
    <img class="avatar" src="../RibNugget.png" alt="">
    <p class="testimony">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis suscipit quis dicta enim, maiores quidem id laborum fugiat. Beatae facilis a quam nisi. Blanditiis atque perspiciatis.</p>

    <div class="extraContainer">
        <div class="idContainer">
            <h3>name surname</h3>
            <h4>source</h4>
        </div>
        <div class="quoteIcon">
            <i class="bi bi-quote"></i>
        </div>
    </div>
</div>

<style>

    .avatar {
        border-radius: 50%;
        width: 15%;
        margin-top: -50px;
        margin-bottom: 1rem;
    }

    .testimony {
        font-style: italic;
        line-height: 1.5;
        text-align: left;

    }

    .extraContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
    }

    .idContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    h4 {
        margin-top: 0.5rem;
        font-weight: 100;
        color: rgb(196, 195, 195);
    }

    .card {
        padding-top: 0;
    }

    .quoteIcon {
        color: #0a839b;
        font-size: 3rem;
        transform: rotate(180deg);
    }

</style>