---
const { img, testimony, name, source } = Astro.props;
---

<div class="card">
    <img class="avatar" src=`${img}` alt="">
    <p class="testimony">{testimony}</p>

    <div class="extraContainer">
        <div class="idContainer">
            <h3 class="name">{name}</h3>
            <h4 class="source">{source}</h4>
        </div>
        <div class="quoteIcon">
            <i class="bi bi-quote"></i>
        </div>
    </div>
</div>

<style>

    .avatar {
        border-radius: 50%;
        width: 15%;
        margin-top: -50px;
        margin-bottom: 1rem;
        border: 3px solid var(--color-line);
    }

    .testimony {
        font-style: italic;
        line-height: 1.5;
        text-align: left;
        color: var(--color-text);
    }

    .extraContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
    }

    .idContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .name {
        color: var(--color-title);
    }

    .source {
        margin-top: 0.5rem;
        font-weight: 100;
        color: var(--color-text);
    }

    .card {
        padding-top: 0;
    }

    .quoteIcon {
        color: var(--color-decoration);
        font-size: 3rem;
        transform: rotate(180deg);
    }

</style>