---
---

<div class="timeline">
    <slot/>
</div>

<style>
    .timeline {
        position: relative;
        margin: 0 auto;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: var(--color-line);;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
</style>